/* v1.4.1 by Bro_MeoW */
:root{
    --primary-color: #262219;
    --secondary-color: #14111a;
    --accent-color-1: #ffe30f;
    --accent-color-2: #897a14;
    --text-color: #dcddde;
}
body{
    font-family: "Comic Sans MS", "Comic Sans"!important;
    margin: 0px auto!important;
    background-color: var(--secondary-color);
    color: var(--text-color);
}
a{
    color: var(--accent-color-1)!important;
}
.loadingOverlay, #yo, .overlay{
    background: #00000075!important;
    backdrop-filter: blur(10px);
    opacity: 1!important;
    user-select: none;
}
.loadingOverlayContent, #yo > div{
    line-height:500px;
    height: 500px!important;
    width:500px;
    color: var(--text-color)!important;
    user-select: none;
}
/**********СКИН ЭДИТОР**********/
label[for="skinPicker"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.3);
    background: none!important;
    padding: 10px!important;
    position: relative;
    border: 1px solid #fff!important;
    border-radius: 5px;
    overflow: hidden;
    transition: 1s;
}
/**********ГЛАВНАЯ**********/
div[style="background: #f5f5f5;width: 100%;float: left;height: 50px;margin-top: 14px;"]{ /*верхняя панель-меню*/
    background: var(--primary-color)!important;
    border: 2px solid var(--accent-color-2);
    border-radius: 5px;
    height: 60px!important;
    position: relative;
}
img[src="/img/icons/menu.svg"]{ /*кнопка с тремя полосками*/
    background: transparent!important;
    position: relative;
    top: 17px;
    padding: 0 12px!important;
    filter: invert(1) brightness(50%) sepia(1) hue-rotate(15deg) saturate(1000%) brightness(132%);
}
a[href="/"]{ /*BROFIST.IO*/
    margin-right:auto;
    font-family: inherit!important;
}
div[style="background: #f5f5f5;width: 100%;float: left;height: 50px;margin-top: 14px;"] div{ /*signIn и singUp*/
    color: var(--text-color)!important;
}
div[style="float: right;width: 47px;border: 1px solid;border-radius: 113px;margin-right: 4px;cursor: pointer;background: white;position: relative;display: inherit;height: 48px;"]{ /*аватар на верхней панели*/
    background: var(--text-color)!important;
    border: 1px solid var(--text-color)!important;
    position: relative;
    top: 5px;
    padding: 0!important;
    margin: 0 5px!important;
    width: 50px!important;
    height: 50px!important;
    /*by Bro_MeoW*/
}
div[style="float: right;width: 47px;border: 1px solid;border-radius: 113px;margin-right: 4px;cursor: pointer;background: white;position: relative;display: inherit;height: 48px;"] img{
    left: 1px!important;
}
div[style="z-index: 1; float: right; margin-top: 52px; position: relative; left: 46px; top: -2px; background: rgb(245, 245, 245); display: block;"]{ /*раскрывающееся меню под аватаром*/
    position: absolute;
    top:25px!important;
    left: 62px!important;
    background: var(--accent-color-2)!important;
    box-shadow: 5px 5px 5px #0f0f0f90;
    border-radius: 8px;
}
div[style="z-index: 1; float: right; margin-top: 52px; position: relative; left: 46px; top: -2px; background: rgb(245, 245, 245); display: block;"]:before{
    position: absolute;
    right: 18px;
    top: -10px;
    content: ' ';
    height: 25px;
    width: 25px;
    background-color: var(--accent-color-2);
    transform: rotate(45deg);
    z-index: -99999999;
}
div[style="float: left;width: 100%;margin-top: 50px;padding: 6px 0px;margin-bottom: 18px;border-radius: 5px;/* background: grey; */border: 1px solid #ccc;"]{ /* нижняя панель-меню */
    background: var(--primary-color)!important;
    border: 2px solid var(--accent-color-2)!important;
    margin: 50px 0 16px 0!important;
}
div[style="float: left;width: 100%;margin-top: 50px;padding: 6px 0px;margin-bottom: 18px;border-radius: 5px;/* background: grey; */border: 1px solid #ccc;"] > div:nth-child(2){ /*feedback|copyright*/
    width: 100%!important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none!important;
}
div[style="float: left;width: 100%;margin-top: 50px;padding: 6px 0px;margin-bottom: 18px;border-radius: 5px;/* background: grey; */border: 1px solid #ccc;"] > div:nth-child(2) a{
    color: #908f8f!important;
}
.card{ /*карточки режимов*/
    text-decoration: none;
    display: block;
    margin: 11%;
    background: var(--primary-color);
    border: 2px solid var(--accent-color-2)!important;
    border-radius: 5px!important;
    box-shadow: 5px 5px 5px #0f0f0f90!important;
    transition: 0.2s;
}
.card img{
    width: 100%;
    border-radius: 5px 5px 0 0!important;
    border-bottom: 2px solid var(--accent-color-2);
    background: white;
}
.cards{
    float:left;
    width: 100%;
}
.cards .cardContainer{
    float: left;
    width: 33.33%;
    text-align: center;
}
.card div{
    padding: 4px 0px;
    font-size: 16px;
    font-weight: bold;
}
/**********РЕЖИМЫ**********/
.slide img{ /*слайдер*/
    background: white;
}
.playButton, #saveButton{ /*кнопки Play и Save*/
    box-sizing: border-box;
    width: 175px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: var(--secondary-color)!important;
    background: var(--accent-color-1)!important;
    padding: 10px!important;
    position: relative;
    border-radius: 5px;
    border: none!important;
}
.playButton:hover, .avatarButton:hover, #saveButton:hover{
    transform: translateY(2px);
    /*transition: 1s;*/
}
.avatarButton{ /*кнопка Avatar*/
    box-sizing: border-box;
    width: 175px;
    height: 50px;
    background: var(--primary-color)!important;
    border: 2px solid var(--accent-color-1);
    padding: 10px!important;
    border-radius: 5px;
}
.contentContainer{ /*таблица "about/rooms"*/
    border: 2px solid var(--accent-color-2);
    box-shadow: none!important;
}
.button{ /*таблица "about/rooms" > кнопки*/
    background: var(--primary-color)!important;
}
.about{ /*таблица "about/rooms" > кнопка about*/
    border-radius: 7px 0 0 0;
}
.rooms{ /*таблица "about/rooms" > кнопка rooms*/
    border-radius: 0 7px 0 0;
}
.contentContainer .roomsContent .join{ /*таблица "about/rooms" > кнопки join*/
    border: 1px solid var(--text-color);
    float: right;
    border-radius: 6px;
    padding: 3px 11px;
    margin-right: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
}
.contentContainer .roomsContent .join:hover{
    color: var(--secondary-color);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}
.contentContainer .roomsContent{ /*таблица rooms*/
    height: auto!important; 
}
.roomsContent > div:last-of-type{
    border-bottom: none!important;
}
.row{ /*таблица rooms > строки*/
    border-bottom: 1px solid var(--accent-color-2)!important;	
}
img[src="/img/icons/ru-flag.png"], img[src="/img/icons/en-flag.png"]{ /*флаги*/
    background: none!important;
}
/**********AVATAR**********/
#myAvatar:nth-child(1){ /*выбранный скин*/
    background-color: var(--text-color);
    clip: auto!important;
    clip-path: inset(0px 33px 20px 33px round 15px 15px 0 0)!important;
    top: -170px!important;
    left: -32px!important;
    z-index: -1;
}
table[style*="text-align: center;margin: 0px auto;width: 77%;/* border: 1px solid; */border-radius: 2px;overflow: auto;height: 38px;"]{
    background:none!important;
}
div[style="font-weight: bold;float: left;width: 100%;background: #f7f7f7;"] > div:nth-child(2) > div[style*="width: 18px"]{ /*кнопки переключения страниц*/
    box-sizing: border-box;
    width: 32px!important;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0px!important;
    border-color: var(--text-color)!important;
    background: none!important;
    color: var(--text-color)!important;
}
div[style="font-weight: bold;float: left;width: 100%;background: #f7f7f7;"] > div:nth-child(2) > div[style*="width: 18px"]:hover{
    background: var(--text-color)!important;
    color: var(--primary-color)!important;
}
/*карточки скинов*/
div[style="border-radius: 7px; background: white; width: 100px;height: 186px;float: left;text-align: center;margin: 10px;cursor: auto;position: relative;box-sizing: border-box;"]{
    background: var(--text-color)!important;
    transition: 0.2s;
}
div[style="border-radius: 7px; background: white; width: 100px;height: 186px;float: left;text-align: center;margin: 10px;cursor: auto;position: relative;box-sizing: border-box;"]:hover{
    transform: scale(1.075);
}
div [style="border-radius: 7px; background: white; width: 100px;height: 186px;float: left;text-align: center;margin: 10px;cursor: auto;position: relative;box-sizing: border-box;"] > div:nth-child(3){
    background: var(--primary-color)!important;
    border-top: 2px solid var(--accent-color-2)!important;
}
div [style="border-radius: 7px; background: white; width: 100px;height: 186px;float: left;text-align: center;margin: 10px;cursor: auto;position: relative;box-sizing: border-box;"] > div:nth-child(3) div{ /*цена*/
    color: var(--text-color)!important;
    line-height: 100%;
}
#poniterDetector{
    border: 2px solid var(--accent-color-2)!important;
}
div[style="font-weight: bold;float: left;width: 100%;background: #f7f7f7;"]{ /*Buy Avatars и Owned Avatars*/
    background: var(--primary-color)!important;
    border: 2px solid var(--accent-color-2)!important;
}
div[style="font-weight: bold;float: left;width: 100%;background: #f7f7f7;"] + div{ /*Owned Avatars*/
    border: none!important;
}
/**********ПРОФИЛЬ**********/
div[style="float: left;width: 100%;background: #f7f7f7;border: 1px solid #ccc;margin: 35px 0px;"]{ /*поиск игрока*/
    color: black!important;
}
div[style="float: left;width: 100%;background: #ffffff;position: relative;padding: 10px 0px;border-radius: 11px;"], /*блок с именем и аватаром*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"], /*таблица Друзья*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] div, /*строки в таблице Друзья*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div, /*тело таблицы Карты*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div /*тело таблицы Скины*/
{
    background: none!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div div:nth-child(2) div:last-of-type, /*тело таблицы Карты*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div div:nth-child(2) div:last-of-type /*тело таблицы Скины*/
{
    background: none!important;
}
div[style="float: left;width: 100%;background: #ffffff;position: relative;padding: 10px 0px;border-radius: 11px;"] a[href="/shop/index.html"]{ /*баланс монет*/
    height: 30px!important;
    background: var(--primary-color)!important;
}
div[style="float: left;width: 100%;background: #ffffff;position: relative;padding: 10px 0px;border-radius: 11px;"] img[src="/img/icons/coin.png"]{
    height: 30px;
    width: 30px!important;
    margin: 0!important;
}
a[href="/shop/index.html"] > div:nth-child(2){
    line-height: 30px;
    padding: 0!important;
}
a[href="/shop/index.html"] > div:nth-child(3){
    box-sizing: border-box;
    border: 1px solid var(--accent-color-2);
    border-radius: 0 50% 50% 0!important;
    padding: 0!important;
    width: 30px!important;
    height: 30px;
    background: none!important;
    margin: 0!important;
    color: var(--accent-color-2)!important;
    line-height: 30px;
    font-size: 20px;
}
a[href="/shop/index.html"]:hover div:nth-child(3){
    border: 1px solid var(--accent-color-1);
    color: var(--accent-color-1)!important;
}
div[style="float: left;width: 100%;background: #ffffff;border-top: 1px solid #dadada;padding: 4px 0px;font-size: 14px;"]{ /*строки таблиц Карты и Скины*/
    background: none!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] div:nth-child(2){ /*тело таблицы Друзья*/
    height: fit-content!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] div:nth-child(2) > div > div:nth-child(1), /*авы друзей*/
div [style="border: 1px solid #9a9a9a;width: 121px;float: left;text-align: center;border-radius: 72px;height: 121px;position: relative;"]{
    background: var(--text-color)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] > div:nth-child(1),
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(1),
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(1){ /*заголовки*/
    background: var(--primary-color)!important;
    border: 2px solid var(--accent-color-2)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] > div:nth-child(2) > div, /*разделители строк*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) > div,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(2) > div{
    border-top: 1px solid var(--accent-color-2)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] > div:nth-child(2) > div:first-of-type,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) > div:first-of-type,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2),
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(2) > div:first-of-type,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(2){
    border-top: none!important;
}
div[style="float: left; max-width: 385px; color: black; cursor: auto; margin-top: 11px; margin-left: 8px;"],
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) div:nth-child(1),
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(2) div:nth-child(1){ /*текст в таблицах*/
    color: var(--text-color)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) div:nth-child(1):hover,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(2) div:nth-child(1):hover{
    color: var(--accent-color-1)!important;
}

div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) div div:nth-child(3), /*remove|edit*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(2) div div:nth-child(3)
{
    background: none!important;
    border: 1px solid rgb(255, 72, 72)!important;
    color: rgb(255, 72, 72)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) div div:nth-child(3):hover,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(2) div div:nth-child(3):hover{
    border: 1px solid rgb(255, 72, 72)!important;
    background: rgb(255, 72, 72)!important;
    color: var(--secondary-color)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) div[style*="width: 55px;"]{
    margin: 4px 3px!important;
    background: none!important;
    border: 1px solid rgb(46, 190, 52)!important;
    color: rgb(46, 190, 52)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(2) div[style*="width: 55px;"]:hover{
    border: 1px solid rgb(46, 190, 52)!important;
    background: rgb(46, 190, 52)!important;
    color: var(--secondary-color)!important;
}
/*кнопки листания страниц*/
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] > div:nth-child(1) > div:last-of-type > div[style*="width: 23px"],
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(1) > div:last-of-type > div[style*="width: 23px"],
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(1) > div:last-of-type > div[style*="width: 23px"]{
    box-sizing: border-box;
    width: 28px!important;
    height: 28px!important;
    line-height: 28px;
    text-align: center;
    padding: 0px!important;
    border-color: var(--text-color)!important;
    background: none!important;
    color: var(--text-color)!important;
}
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] > div:nth-child(1) > div:last-of-type > div[style*="width: 23px"]:hover,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div > div:nth-child(1) > div:last-of-type > div[style*="width: 23px"]:hover,
div[style="float: left;width: 100%;background: #ffffff;margin-top: 27px;box-sizing: border-box;border-color: #ccc;border-radius: 7px;"] + div + div > div:nth-child(1) > div:last-of-type > div[style*="width: 23px"]:hover{
    background: var(--text-color)!important;
    color: var(--primary-color)!important;
}
/**********МАПС БРАУЗЕР**********/
table[style="text-align: center;margin: 0px auto;width: 70%;/* border: 1px solid; */border-radius: 2px;overflow: auto;height: 38px;padding: 16px 0px;"] tr:nth-child(1) > td:nth-child(4) div{ /*refresh*/
    border-color: var(--text-color)!important;
    background: var(--secondary-color)!important;
    color: var(--text-color)!important;
}
table[style="text-align: center;margin: 0px auto;width: 70%;/* border: 1px solid; */border-radius: 2px;overflow: auto;height: 38px;padding: 16px 0px;"] tr:nth-child(1) > td:nth-child(4) div:hover {
    background: var(--text-color)!important;
    color: var(--secondary-color)!important;
}
table[cellpadding="10"]{
    border-color: var(--accent-color-1)!important;
}
table[cellpadding="10"] tr[style=" border-bottom: 1px solid; color: rgb(33, 150, 243);"]{
    color: var(--accent-color-1)!important;
}
table[cellpadding="10"] th:nth-child(5){
	width: 150px;
}
table[cellpadding="10"] th:nth-child(5) > div > div[style*="width: 30px;"]{ /*кнопки листания страниц*/
    box-sizing: border-box;
    width: 32px!important;
    height: 32px!important;
    line-height: 32px;
    text-align: center;
    padding: 0px!important;
    border-color: var(--accent-color-1)!important;
    background: var(--primary-color)!important;
    color: var(--accent-color-1)!important;
}
table[cellpadding="10"] th:nth-child(5) > div > div[style*="width: 30px;"]:hover{
    background: var(--accent-color-1)!important;
    color: var(--primary-color)!important;
}
table[cellpadding="10"] tr > td:nth-child(1){ /*автор*/
    color: var(--text-color)!important;
}
table[cellpadding="10"] tr > td:nth-child(1):hover{
    color: var(--accent-color-1)!important;
}
table[cellpadding="10"] tr > td:nth-child(5) > div{ /*кнопки play*/
    border-color: var(--accent-color-1)!important;
    background: var(--primary-color)!important;
    color: var(--accent-color-1)!important;
}
table[cellpadding="10"] tr > td:nth-child(5) > div:hover{
    background: var(--accent-color-1)!important;
    color: var(--primary-color)!important;
}
/**********2ПА**********/
#timer, #mapCredits {
    background: #00000075!important;
    backdrop-filter: blur(2px);
    opacity: 1!important;
    color: white!important;
}
#timer{
    box-sizing: border-box;
    height: 30px;
}
#leaderboard{
    top: 30px!important;
    background: #00000075!important;
    backdrop-filter: blur(2px);
    opacity: 1!important;
    padding: 0 10px 10px 10px!important;
    font-size: 14px!important;
    font-family: Arial, Helvetica, sans-serif;
}
#scoreContainer{
    max-height: fit-content!important;
}
#info{
    text-shadow: 1px 1px 0px black;
}
#startTime{
    border: 2px solid var(--accent-color-1)!important;
    height: 95px!important;
    background-color: #00000075!important;
    backdrop-filter: blur(2px);
    margin: auto;
    font-size: 63px;
    border-radius: 50%!important;
    opacity: 1!important;
    padding-top: 5px!important;
    box-shadow: #00000075 0px 0px 45px 10px!important;
    color: var(--accent-color-1);
}
/*таблица в конце раунда*/
#leaderboard + div > div:nth-child(2){
    background: var(--secondary-color)!important;
    border: 2px solid var(--accent-color-2)!important;
}
#leaderboard + div > div:nth-child(2) > div:nth-child(3) > div{
    color: var(--text-color)!important;
}
#leaderboard + div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(1) {
    background: var(--primary-color)!important;
    color: var(--accent-color-1)!important;
    border: 1px solid var(--accent-color-1)!important;
    border-radius: 3px;
}
#teamsContainer{
    background: none!important;
}
#timerSlot{
    color: var(--accent-color-1)!important;
}
/**********ОКНА**********/
.menuOverlay .buttonsContainer{
    background: var(--secondary-color)!important;
    height: fit-content!important;
    border: 3px solid var(--accent-color-2)!important;
    padding: 40px 35px 35px 35px!important;
    color: rgb(45, 45, 45);
}
.menuOverlay .buttonsContainer div[style*="border: 1px solid rgb(33, 150, 243); border-radius: 3px; text-align: center; font-size: 17px;"]{
    border: 1px solid var(--accent-color-2)!important;
    margin: 15px 0px 0px!important;
    box-shadow: none!important;
    color: var(--accent-color-2)!important;
    background: var(--primary-color)!important;
}
.menuOverlay .buttonsContainer div[style*="border: 1px solid rgb(33, 150, 243); border-radius: 3px; text-align: center; font-size: 17px;"]:hover{
    border: 1px solid var(--accent-color-1)!important;
    color: var(--accent-color-1)!important;
}
.menuOverlay .buttonsContainer a[style*="border: 1px solid rgb(33, 150, 243); border-radius: 3px; text-align: center; font-size: 17px;"]{
    border: 1px solid var(--accent-color-1)!important;
    margin: 15px 0px!important;
    box-shadow: none!important;
    background: none!important;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
}
.menuOverlay .buttonsContainer a[style*="border: 1px solid rgb(33, 150, 243); border-radius: 3px; text-align: center; font-size: 17px;"]:after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, var(--accent-color-1) 50%, var(--primary-color) 50%);
    z-index: -1;
    transition: 0.7s;
}
.menuOverlay .buttonsContainer a[style*="border: 1px solid rgb(33, 150, 243); border-radius: 3px; text-align: center; font-size: 17px;"]:hover{
    color: var(--secondary-color)!important;
}
.menuOverlay .buttonsContainer a[style*="border: 1px solid rgb(33, 150, 243); border-radius: 3px; text-align: center; font-size: 17px;"]:hover:after{
    transform: translate(50%, 0);
}
.menuOverlay .buttonsContainer input[type="text"], .menuOverlay .buttonsContainer input[type="password"]{
    background: none!important;
    border: 1px solid #2b2b2b;
    margin: 0px 10px;
    box-shadow: none!important;
    color: var(--text-color)!important;
}
.menuOverlay .buttonsContainer div[style*="text-align: center; font-size: 12px; color: red;"]{
    margin: 0px 0px 15px;
}
.cross, #cross, div[style*="width: 204px; margin: auto; inset: 0px; padding: 3px 22px; color: rgb(45, 45, 45); position: fixed; background: white; border-radius: 6px;"] div:nth-child(2){
    box-sizing: border-box;
    border: 2px solid var(--accent-color-2)!important;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    position: absolute;
    right: 5px!important;
    top: 5px!important;
    border-radius: 100%!important;
    padding: 0px 9px!important;
    color: var(--accent-color-2)!important;
    background: var(--primary-color)!important;
}
.cross:hover, #cross:hover,  div[style*="width: 204px; margin: auto; inset: 0px; padding: 3px 22px; color: rgb(45, 45, 45); position: fixed; background: white; border-radius: 6px;"] div:nth-child(2):hover{
    border: 2px solid var(--accent-color-1)!important;
    color: var(--accent-color-1)!important;
}
.captchaContainer{
    filter: invert(1);
}
/**********СКИНС БРАУЗЕР**********/
div[style*="width: 204px; margin: auto; inset: 0px; padding: 3px 22px; color: rgb(45, 45, 45); position: fixed; background: white; border-radius: 6px;"]{
    height: fit-content!important;
    background: var(--secondary-color)!important;
    border: 3px solid var(--accent-color-2)!important;
}
div[style*="width: 204px; margin: auto; inset: 0px; padding: 3px 22px; color: rgb(45, 45, 45); position: fixed; background: white; border-radius: 6px;"] div:nth-child(1){
    background: none!important;
    color: var(--text-color)!important;
}
div[style*="width: 204px; margin: auto; inset: 0px; padding: 3px 22px; color: rgb(45, 45, 45); position: fixed; background: white; border-radius: 6px;"] a{
    border: 1px solid var(--accent-color-2)!important;
    box-shadow: none!important;
    background: var(--primary-color)!important;
    color: var(--accent-color-2)!important;
}
div[style*="width: 204px; margin: auto; inset: 0px; padding: 3px 22px; color: rgb(45, 45, 45); position: fixed; background: white; border-radius: 6px;"] a:hover{
    border: 1px solid var(--accent-color-1)!important;
    color: var(--accent-color-1)!important;
}
div[style*="width: 204px; margin: auto; inset: 0px; padding: 3px 22px; color: rgb(45, 45, 45); position: fixed; background: white; border-radius: 6px;"] a[style*="border-radius: 3px; text-align: center; font-size: 17px; padding: 6px 0px; margin: 10px 0px; color: rgb(33, 150, 243);"]{
    border: none!important;
    background: none!important;
    color: var(--accent-color-1)!important;
    user-select: none;
}
div[style="float: right;width: 100%;box-sizing: border-box;"] > div[style="border-radius: 7px;background: white;width: 140px;height: 200px;float: left;text-align: center;margin: 10px;border:1px solid rgba(0, 0, 0, 0.23);cursor: auto;position: relative;box-sizing: border-box;"]{
    background: var(--text-color)!important;
    width: 140px;
    height: 200px;
    float: left;
    text-align: center;
    margin: 10px;
    border: none!important;
    position: relative;
    box-sizing: border-box;
}
div[style="float: right;width: 100%;box-sizing: border-box;"] > div[style="border-radius: 7px;background: white;width: 140px;height: 200px;float: left;text-align: center;margin: 10px;border:1px solid rgba(0, 0, 0, 0.23);cursor: auto;position: relative;box-sizing: border-box;"] > div[style*="height: 32px;"]{
    height: auto!important;
}
::-webkit-scrollbar-track {
    background-color:#ffffff25;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background:var(--accent-color-2);
}
::-webkit-scrollbar-thumb:hover{
    background:var(--accent-color-1);
}
::-webkit-scrollbar{
    width: 7px;
}
